body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main ";
    height:100vh;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10px;
    background-color: #212A31;
    z-index: 1;
}

.top,
.under-top{
    display: grid;
    gap: 10px; 
    justify-content: center; 
    align-items: center; 
    padding:0 40px;
}

li{
    list-style: none;
}

.top{
    grid-template-columns: 3fr 1fr;
}
.under-top{
    grid-template-columns: 1fr 2fr ;
}

.top input[type="text"]{
    width:50%;
}

.under-top>div:last-child{
    justify-self: end;
}

.under-top>div:first-child{
    display: flex;
    align-items: center;
    gap:10px;

}

#top-right{
    display: flex;
    gap:10px;
    align-items: center;
    text-align: end;
    justify-self: end;
}

#top-right p{
    cursor: pointer;
}

.top img{
    border-radius: 1em;
    max-width:50px;
}

.username{
    font-weight: bold;
}

button:hover{
    cursor:pointer;
}

.under-top img{
    max-width: 80px;
    border-radius: 2em;
}

.sidebar{
    grid-area: sidebar;
    background: radial-gradient(circle at bottom, #124E66,#212A31);
    background-color: #124E66;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:40px;
    padding-left:10px;
    font-weight: bolder;
}

.sidebar li{
    font-size: larger;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar *,
body *{
    color:#D3D9D4;
}

.main-content{
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "projects anno"
    "projects trending";
    background:radial-gradient(circle at bottom,#124E66,#2E3944);
    font-size: 12px;
}

.projects{
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,3fr));
    grid-template-rows: 0.05fr;
    grid-auto-rows: min-content;
    padding: 0 20px;
    gap:20px;
}

.projects>div:first-child{
    grid-column: 1/-1;
}

.card{
    padding:0 20px 20px 20px;
    background-color: #124E66;
    border-radius: 2rem;
}

.card,
.announcements>div,
.trending>div,
.header{
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.card-icons{
    text-align: right;
    cursor: pointer;
}

.announcements{
    grid-area: anno;
}

.announcements>div{
    display: grid;
    gap:10px;
}

.announcements>div>div:nth-child(2),
.announcements>div>div:nth-child(1){
    border-bottom: 1px solid grey;
}

.announcements>div,
.trending>div{
    background-color: #212A31;
    padding:20px;
    margin-right:20px;
    border-radius: 2rem;
}

.trending{
    grid-area: trending;
}

.trending img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 2rem;
}

.users{
    display: flex;
    align-items: center;
}

.users img{
    margin-right:10px;
}

.header-buttons{
    background-color: #124E66;
    border-radius: 2rem;
    width: 120px;
    height:30px;
}

.header-buttons,
.card{
    border-color: rebeccapurple;
    border-style: outset;
}